<div class="w-100 h-100 f-n">
  <ng-gradient class="p-a w-100 h-100 t-0 l-0 z-1" ng-gradient-option="{
    opacity: [1, 1],
    direction: 'radial',
    states: {
      'default-state': {
        gradients: [
          ['#FFF176', '#FFD54F'],
          ['#FFB74D', '#FF8A65'],
          ['#FF8A65', '#FFB74D'],
          ['#FFD54F', '#FFF176']
        ]
      }
    }
  }"></ng-gradient>
  <div class="p-a w-100 h-100 t-0 l-0 z-2">
    <div full-page class="section" options="{ scrollingSpeed: 500, controlArrows: false }">

      <!-- Width -->
      <content-dir title="'Width(px)'" description="'Description will be here soon.'">
        <div class="f-l w-{{x}}px h-100px b-we m-3px bor-3px bs-2_4_12_bk_50 tn-500ms"
        ng-repeat="x in [50, 75, 100, 125, 150]"
        ng-action
        ng-class="[{'jello animated':$hover||$click }]">
          <span class="cen">
            .w-{{x}}px
          </span>
        </div>
      </content-dir>

      <content-dir title="'Width(%)'" description="'Description will be here soon.'">
        <div class="w-100vwD3">
          <div class="d-b f-l w-100" ng-repeat="x in [20, 40, 60, 80, 100]">
            <div class="d-b f-l w-{{x}} h-75px b-we m-3px bor-3px bs-2_4_12_bk_50 tn-500ms"
            ng-action
            ng-class="[{'jello animated':$hover||$click }]">
              <span class="cen">
                .w-{{x}}
              </span>
            </div>
          </div>
        </div>
      </content-dir>

      <content-dir title="'Width(/)'" description="'Description will be here soon.'">
        <div class="w-100vwD3">
          <div class="d-b f-l w-100" ng-repeat="x in [1,2,3,4,5]">
            <div class="d-b f-l w-100D{{x}} h-75px b-we mt-3px mb-3px bor-3px bs-2_4_12_bk_50 tn-500ms"
            ng-action ng-repeat="y in _.range(x)"
            ng-class="[{'jello animated':$hover||$click }]">
              <span class="cen">
                .w-100D{{x}}
              </span>
            </div>
          </div>
        </div>
      </content-dir>

      <!-- Height -->
      <content-dir title="'Height(px)'" description="'Description will be here soon.'">
        <div class="f-l w-100px h-{{x}}px b-we m-3px bor-3px bs-2_4_12_bk_50 tn-500ms"
        ng-repeat="x in [50, 75, 100, 125, 150]"
        ng-action
        ng-class="[{'jello animated':$hover||$click }]">
          <span class="cen">
            .h-{{x}}px
          </span>
        </div>
      </content-dir>

      <content-dir title="'Height(*)'" description="'Description will be here soon.'">
        <div class="f-l w-100px h-50pxM{{x}} b-we m-3px bor-3px bs-2_4_12_bk_50 tn-500ms"
        ng-repeat="x in [1, 2, 3, 4, 5]"
        ng-action
        ng-class="[{'jello animated':$hover||$click }]">
          <span class="cen">
            .h-50pxM{{x}}
          </span>
        </div>
      </content-dir>

      <!-- Width & Height -->
      <content-dir title="'Width & Height Calculation'" description="'Description will be here soon.'">
        <div class="w-100vwD3 h-100vhD3">
          <div class="f-l w-{{x.w}} h-{{x.h}} b-we bor-3px bs-2_4_12_bk_50 tn-500ms"
          ng-repeat="x in [
          {w:'100', h:'50px'},
          {w:'100px', h:'100_100px'}, {w:'100_200px', h:'100_100px'}, {w:'100px', h:'100_100px'},
          {w:'100', h:'50px'}]"
          ng-action
          ng-class="[{'jello animated':$hover||$click }]">
            <span class="cen">
              .w-{{x.w}} .h-{{x.h}}
            </span>
          </div>
        </div>
      </content-dir>

      <!-- Opacity -->
      <content-dir title="'Opacity'" description="'Description will be here soon.'">
        <div class="d-ib w-100px h-100px b-we o-{{x}} m-3px bor-3px bs-2_4_12_bk_50 tn-500ms"
        ng-repeat="x in [10, 20, 40, 60, 80, 100]"
        ng-action
        ng-class="[{'jello animated':$hover||$click }]">
          <span class="cen">
            .o-{{x}}
          </span>
        </div>
      </content-dir>

      <!-- Background-Color -->
      <content-dir title="'Background Color(code)'" description="'Description will be here soon.'">
        <div class="d-ib f-l w-100px h-100px b-{{x}} m-3px bor-3px bs-2_4_12_bk_50 tn-500ms"
        ng-repeat="x in ['rd','pk','pe','dp','io','be','lb','cn','tl','gn','lg','le','yw','ar','oe','de','bn','gy','by','bk','we']"
        ng-mouseenter="hover_background_color[x] = true;" ng-mouseleave="hover_background_color[x] = false;"
        ng-action
        ng-class="[{'jello animated':$hover||$click }]">
          <span class="cen c-333333">
            .b-{{x}}
          </span>
        </div>
      </content-dir>

      <content-dir title="'Background Color(hex)'" description="'Description will be here soon.'">
        <div class="d-ib f-l w-150px h-150px b-we b-{{x}} m-3px bor-3px bs-2_4_12_bk_50 tn-500ms"
        ng-repeat="x in ['CDDC39', 'FFEB3B', 'FFC107', 'FF9800', 'FF5722']"
        ng-action
        ng-class="[{'jello animated':$hover||$click }]">
          <span class="cen">
            .b-{{x}}
          </span>
        </div>
      </content-dir>

      <content-dir title="'Background Color(hex&opacity)'" description="'Description will be here soon.'">
        <div class="d-ib f-l w-150px h-150px b-we b-we_{{x}} m-3px bor-3px bs-2_4_12_bk_50 tn-500ms"
        ng-repeat="x in [20, 40, 60, 80, 100]"
        ng-action
        ng-class="[{'jello animated':$hover||$click }]">
          <span class="cen">
            .b-we_{{x}}
          </span>
        </div>
      </content-dir>

      <content-dir title="'Background Color(rgb)'" description="'Description will be here soon.'">
        <div class="d-ib f-l w-150px h-150px b-{{x}} m-3px bor-3px bs-2_4_12_bk_50 tn-500ms"
        ng-repeat="x in ['205_220_57', '255_235_59', '255_193_7', '255_152_0', '255_87_34']"
        ng-action
        ng-class="[{'jello animated':$hover||$click }]">
          <span class="cen">
            .b-{{x}}
          </span>
        </div>
      </content-dir>

      <content-dir title="'Background Color(rgba)'" description="'Description will be here soon.'">
        <div class="d-ib f-l w-150px h-150px b-255_255_255_{{x}} m-3px bor-3px bs-2_4_12_bk_50 tn-500ms"
        ng-repeat="x in [20, 40, 60, 80, 100]"
        ng-action
        ng-class="[{'jello animated':$hover||$click }]">
          <span class="cen">
            .b-255_255_255_{{x}}
          </span>
        </div>
      </content-dir>

      <!-- Border -->
      <content-dir title="'Border Width(px)'" description="'Description will be here soon.'">
        <div class="d-ib f-l w-150px h-150px m-3px bo-{{x}}px bor-3px bs-2_4_12_bk_50 tn-500ms"
        ng-repeat="x in [1,2,3,4,5]"
        ng-action
        ng-class="[{'jello animated':$hover||$click }]">
          <span class="cen">
            .bo-{{x}}px
          </span>
        </div>
      </content-dir>

      <!-- Border -->
      <content-dir title="'Border Radius(px)'" description="'Description will be here soon.'">
        <div class="d-ib f-l w-150px h-150px m-3px bo-1px bor-{{x}}px bs-2_4_12_bk_50 tn-500ms"
        ng-repeat="x in [2,4,6,8,10]"
        ng-action
        ng-class="[{'jello animated':$hover||$click }]">
          <span class="cen">
            .bor-{{x}}px
          </span>
        </div>
      </content-dir>

      <content-dir title="'Border Radius(%)'" description="'Description will be here soon.'">
        <div class="d-ib f-l w-150px h-150px m-3px bo-1px bor-{{x}} bs-2_4_12_bk_50 tn-500ms"
        ng-repeat="x in [20, 40, 60, 80, 100]"
        ng-action
        ng-class="[{'jello animated':$hover||$click }]">
          <span class="cen">
            .bor-{{x}}
          </span>
        </div>
      </content-dir>

      <content-dir title="'Border Color'" description="'Description will be here soon.'">
        <div class="d-ib f-l w-150px h-150px m-3px bo-5px bo-{{x}} bs-2_4_12_bk_50 tn-500ms"
        ng-repeat="x in ['CDDC39', 'FFEB3B', 'FFC107', 'FF9800', 'FF5722']"
        ng-action
        ng-class="[{'jello animated':$hover||$click }]">
          <span class="cen">
            .bo-{{x}}
          </span>
        </div>
      </content-dir>

      <!-- Top Bottom Left Right -->
      <content-dir title="'Top Bottom Left Right Cen'" description="'Description will be here soon.'">
        <div class="w-100vwD3 h-100vhD2 b-bk_10">
          <div class="p-a d-ib {{x}} w-100px h-100px m-3px b-we bs-2_4_12_bk_50 tn-500ms"
          ng-repeat="x in ['t-0 l-0', 't-0 r-0', 'b-0 l-0', 'b-0 r-0', 't-0 cen-x', 'l-0 cen-y', 'b-0 cen-x', 'r-0 cen-y', 'cen']"
          ng-action
          ng-class="[{'jello animated':$hover||$click }]">
            <span class="cen">
              {{x}}
            </span>
          </div>
        </div>
      </content-dir>

      <!-- Font -->
      <content-dir title="'Font Size'" description="'Description will be here soon.'">
        <div class="d-ib f-l f-{{x}}px w-100px h-100px m-3px b-we bs-2_4_12_bk_50 tn-500ms"
        ng-repeat="x in [12, 15, 18, 21, 24]"
        ng-action
        ng-class="[{'jello animated':$hover||$click }]">
          <span class="cen">
            .f-{{x}}px
          </span>
        </div>
      </content-dir>

      <content-dir title="'Font Color'" description="'Description will be here soon.'">
        <div class="d-ib f-l c-{{x}} fw-700 w-100px h-100px m-3px b-we bs-2_4_12_bk_50 tn-500ms"
        ng-repeat="x in ['CDDC39', 'FFEB3B', 'FFC107', 'FF9800', 'FF5722']"
        ng-action
        ng-class="[{'jello animated':$hover||$click }]">
          <span class="cen">
            .c-{{x}}
          </span>
        </div>
      </content-dir>

      <content-dir title="'Font Weight'" description="'Description will be here soon.'">
        <div class="d-ib f-l c-{{x}} fw-{{x}} w-100px h-100px m-3px b-we bs-2_4_12_bk_50 tn-500ms"
        ng-repeat="x in ['100', '200', '300', '400', '500', '600', '700', '800', '900']"
        ng-action
        ng-class="[{'jello animated':$hover||$click }]">
          <span class="cen">
            .fw-{{x}}
          </span>
        </div>
      </content-dir>

      <!-- FLEX BOX -->

      <content-dir title="'Flex Direction: row'" description="'\'d-fx\' for display: flex | \'fxd-r\' or Flex-direction: row [Default]'">
        <div class="d-fx fxd-r w-100vh b-we pt-5px pb-5px">
          <div class="w-100px h-100px m-3px b-we bs-2_4_12_bk_50 tn-500ms" 
            ng-repeat="x in [1,2,3,4]" ng-action
            ng-class="[{'jello animated':$hover||$click }]">
            <span class="cen">
              flex item {{x}}
            </span>
          </div>
        </div>
      </content-dir>

      <content-dir title="'Flex Direction: row-reverse'"
        description="'\'d-fx\' for display: flex | \'fxd-rr\' or Flex-direction: row-reverse'">
        <div class="d-fx fxd-rr w-100vh b-we pt-5px pb-5px">
          <div class="w-100px h-100px m-3px b-we bs-2_4_12_bk_50 tn-500ms" ng-repeat="x in [1,2,3,4]" ng-action
            ng-class="[{'jello animated':$hover||$click }]">
            <span class="cen">
              flex item {{x}}
            </span>
          </div>
        </div>
      </content-dir>

      <content-dir title="'Flex Direction: column'" description="'\'d-fx\' for display: flex | \'fxd-c\' or Flex-direction: column'">
        <div class="d-fx fxd-c b-we pr-5px pl-5px">
          <div class="w-100px h-100px m-3px b-we bs-2_4_12_bk_50 tn-500ms" 
            ng-repeat="x in [1,2,3,4]" ng-action
            ng-class="[{'jello animated':$hover||$click }]">
            <span class="cen">
              flex item {{x}}
            </span>
          </div>
        </div>
      </content-dir>

      <content-dir title="'Flex Direction: column-reverse'"
        description="'\'d-fx\' for display: flex | \'fxd-cr\' or Flex-direction: column-reverse'">
        <div class="d-fx fxd-cr b-we pr-5px pl-5px">
          <div class="w-100px h-100px m-3px b-we bs-2_4_12_bk_50 tn-500ms" ng-repeat="x in [1,2,3,4]" ng-action
            ng-class="[{'jello animated':$hover||$click }]">
            <span class="cen">
              flex item {{x}}
            </span>
          </div>
        </div>
      </content-dir>

      <content-dir title="'Flex Wrap: no-wrap'" description="'\'d-fx\' for display: flex | \'fxw-nw\' or Flex-wrap: no-wrap [Default]'">
        <div class="d-fx fxw-nw w-100vh b-we pt-5px pb-5px">
          <div class="w-100px h-100px m-3px b-we bs-2_4_12_bk_50 tn-500ms" 
            ng-repeat="x in [1,2,3,4,5,6,7,8]" ng-action
            ng-class="[{'jello animated':$hover||$click }]">
            <span class="cen">
              flex item {{x}}
            </span>
          </div>
        </div>
      </content-dir>

      <content-dir title="'Flex Wrap: wrap'" description="'\'d-fx\' for display: flex | \'fxw-w\' or Flex-wrap: wrap'">
        <div class="d-fx fxw-w w-100vh b-we pt-5px pb-5px">
          <div class="w-100px h-100px m-3px b-we bs-2_4_12_bk_50 tn-500ms" 
            ng-repeat="x in [1,2,3,4,5,6,7,8]" ng-action
            ng-class="[{'jello animated':$hover||$click }]">
            <span class="cen">
              flex item {{x}}
            </span>
          </div>
        </div>
      </content-dir>

      <content-dir title="'Flex Wrap: wrap-reverse'" description="'\'d-fx\' for display: flex | \'fxw-wr\' or Flex-wrap: wrap-reverse'">
        <div class="d-fx fxw-wr w-100vh b-we pt-5px pb-5px">
          <div class="w-100px h-100px m-3px b-we bs-2_4_12_bk_50 tn-500ms" ng-repeat="x in [1,2,3,4,5,6,7,8]" ng-action
            ng-class="[{'jello animated':$hover||$click }]">
            <span class="cen">
              flex item {{x}}
            </span>
          </div>
        </div>
      </content-dir>

      <content-dir title="'Justify Content: flex-start'" description="'\'d-fx\' for display: flex | \'jc-fxs\' or Justify-content: flex-start [Default]'">
        <div class="d-fx jc-fxs w-100vh b-we pt-5px pb-5px">
          <div class="w-100px h-100px m-3px b-we bs-2_4_12_bk_50 tn-500ms" ng-repeat="x in [1]" ng-action
            ng-class="[{'jello animated':$hover||$click }]">
            <span class="cen">
              flex item {{x}}
            </span>
          </div>
        </div>
      </content-dir>

      <content-dir title="'Justify Content: flex-end'" description="'\'d-fx\' for display: flex | \'jc-fxe\' or Justify-content: flex-end'">
        <div class="d-fx jc-fxe w-100vh b-we pt-5px pb-5px">
          <div class="w-100px h-100px m-3px b-we bs-2_4_12_bk_50 tn-500ms" ng-repeat="x in [1]" ng-action
            ng-class="[{'jello animated':$hover||$click }]">
            <span class="cen">
              flex item
            </span>
          </div>
        </div>
      </content-dir>

      <content-dir title="'Justify Content: center'" description="'\'d-fx\' for display: flex | \'jc-c\' or Justify-content: center'">
        <div class="d-fx jc-c w-100vh b-we pt-5px pb-5px">
          <div class="w-100px h-100px m-3px b-we bs-2_4_12_bk_50 tn-500ms" ng-repeat="x in [1]" ng-action
            ng-class="[{'jello animated':$hover||$click }]">
            <span class="cen">
              flex item
            </span>
          </div>
        </div>
      </content-dir>

      <content-dir title="'Justify Content: space-between'" description="'\'d-fx\' for display: flex | \'jc-sb\' or Justify-content: space-between'">
        <div class="d-fx jc-sb w-100vh b-we pt-5px pb-5px">
          <div class="w-100px h-100px m-3px b-we bs-2_4_12_bk_50 tn-500ms" ng-repeat="x in [1,2]" ng-action
            ng-class="[{'jello animated':$hover||$click }]">
            <span class="cen">
              flex item
            </span>
          </div>
        </div>
      </content-dir>

      <content-dir title="'Justify Content: space-around'" description="'\'d-fx\' for display: flex | \'jc-sa\' or Justify-content: space-around'">
        <div class="d-fx jc-sa w-100vh b-we pt-5px pb-5px">
          <div class="w-100px h-100px m-3px b-we bs-2_4_12_bk_50 tn-500ms" ng-repeat="x in [1,2]" ng-action
            ng-class="[{'jello animated':$hover||$click }]">
            <span class="cen">
              flex item
            </span>
          </div>
        </div>
      </content-dir>

      <content-dir title="'Justify Content: space-evenly'" description="'\'d-fx\' for display: flex | \'jc-se\' or Justify-content: space-evenly'">
        <div class="d-fx jc-se w-100vh b-we pt-5px pb-5px">
          <div class="w-100px h-100px m-3px b-we bs-2_4_12_bk_50 tn-500ms" ng-repeat="x in [1,2]" ng-action
            ng-class="[{'jello animated':$hover||$click }]">
            <span class="cen">
              flex item
            </span>
          </div>
        </div>
      </content-dir>

      <content-dir title="'Align Items: flex-start'" description="'\'d-fx\' for display: flex | \'ai-fxs\' or Align-items: flex-start [Default]'">
        <div class="d-fx ai-fxs h-50vh b-we pt-5px pb-5px">
          <div class="w-100px h-100px m-3px b-we bs-2_4_12_bk_50 tn-500ms" ng-repeat="x in [1,2]" ng-action
            ng-class="[{'jello animated':$hover||$click }]">
            <span class="cen">
              flex item
            </span>
          </div>
        </div>
      </content-dir>

      <content-dir title="'Align Items: flex-end'" description="'\'d-fx\' for display: flex | \'ai-fxe\' or Align-items: flex-end'">
        <div class="d-fx ai-fxe h-50vh b-we pt-5px pb-5px">
          <div class="w-100px h-100px m-3px b-we bs-2_4_12_bk_50 tn-500ms" ng-repeat="x in [1,2]" ng-action
            ng-class="[{'jello animated':$hover||$click }]">
            <span class="cen">
              flex item
            </span>
          </div>
        </div>
      </content-dir>

      <content-dir title="'Align Items: center'" description="'\'d-fx\' for display: flex | \'ai-c\' or Align-items: center'">
        <div class="d-fx ai-c h-50vh b-we pt-5px pb-5px">
          <div class="w-100px h-100px m-3px b-we bs-2_4_12_bk_50 tn-500ms" ng-repeat="x in [1,2]" ng-action
            ng-class="[{'jello animated':$hover||$click }]">
            <span class="cen">
              flex item
            </span>
          </div>
        </div>
      </content-dir>

      <content-dir title="'Align Content: flex-start'" description="'\'d-fx\' for display: flex | \'ac-fxs\' or Align-content: flex-start [Default] | Must use \'fxw-w\' or Flex-wrap: wrap'">
        <div class="d-fx fxw-w ac-fxs h-50vh w-100px b-we pt-5px pb-5px">
          <div class="w-100px h-100px m-3px b-we bs-2_4_12_bk_50 tn-500ms" ng-repeat="x in [1,2]" ng-action
            ng-class="[{'jello animated':$hover||$click }]">
            <span class="cen">
              flex item
            </span>
          </div>
        </div>
      </content-dir>

      <content-dir title="'Align Content: flex-end'" description="'\'d-fx\' for display: flex | \'ac-fxe\' or Align-content: flex-end | Must use \'fxw-w\' or Flex-wrap: wrap'">
        <div class="d-fx fxw-w ac-fxe h-50vh w-100px b-we pt-5px pb-5px">
          <div class="w-100px h-100px m-3px b-we bs-2_4_12_bk_50 tn-500ms" ng-repeat="x in [1,2]" ng-action
            ng-class="[{'jello animated':$hover||$click }]">
            <span class="cen">
              flex item
            </span>
          </div>
        </div>
      </content-dir>

      <content-dir title="'Align Content: center'" description="'\'d-fx\' for display: flex | \'ac-c\' or Align-content: center | Must use \'fxw-w\' or Flex-wrap: wrap'">
        <div class="d-fx fxw-w ac-c h-50vh w-100px b-we pt-5px pb-5px">
          <div class="w-100px h-100px m-3px b-we bs-2_4_12_bk_50 tn-500ms" ng-repeat="x in [1,2]" ng-action
            ng-class="[{'jello animated':$hover||$click }]">
            <span class="cen">
              flex item
            </span>
          </div>
        </div>
      </content-dir>

      <content-dir title="'Align Content: space-between'" description="'\'d-fx\' for display: flex | \'ac-sb\' or Align-content: space-between | Must use \'fxw-w\' or Flex-wrap: wrap'">
        <div class="d-fx fxw-w ac-sb h-50vh w-110px b-we pt-5px pb-5px">
          <div class="w-100px h-100px m-3px b-we bs-2_4_12_bk_50 tn-500ms" ng-repeat="x in [1,2]" ng-action
            ng-class="[{'jello animated':$hover||$click }]">
            <span class="cen">
              flex item
            </span>
          </div>
        </div>
      </content-dir>

      <content-dir title="'Align Content: space-around'" description="'\'d-fx\' for display: flex | \'ac-sa\' or Align-content: space-around | Must use \'fxw-w\' or Flex-wrap: wrap'">
        <div class="d-fx fxw-w ac-sa h-50vh w-110px b-we pt-5px pb-5px">
          <div class="w-100px h-100px m-3px b-we bs-2_4_12_bk_50 tn-500ms" ng-repeat="x in [1,2]" ng-action
            ng-class="[{'jello animated':$hover||$click }]">
            <span class="cen">
              flex item
            </span>
          </div>
        </div>
      </content-dir>

      <content-dir title="'Align Content: stretch'" description="'\'d-fx\' for display: flex | \'ac-s\' or Align-content: stretch | Must use \'fxw-w\' or Flex-wrap: wrap'">
        <div class="d-fx fxw-w ac-s h-50vh w-110px b-we pt-5px pb-5px">
          <div class="w-100px m-3px b-we bs-2_4_12_bk_50 tn-500ms" ng-repeat="x in [1,2]" ng-action
            ng-class="[{'jello animated':$hover||$click }]">
            <span class="cen">
              flex item
            </span>
          </div>
        </div>
      </content-dir>

      <content-dir title="'Order'" description="'\'d-fx\' for display: flex | \'or-[place number here]\' or order: 0 [Default]'">
        <div class="d-fx w-100vh b-we pt-5px pb-5px">
          <div class="w-100px h-100px m-3px or-{{x.or}} b-we bs-2_4_12_bk_50 tn-500ms" ng-repeat="x in [
          {or: 4},{or: 1},{or: 2},{or: 5},{or: 3}
          ]" ng-action
            ng-class="[{'jello animated':$hover||$click }]">
            <span class="cen">
              .or-{{x.or}}
            </span>
          </div>
        </div>
      </content-dir>

      <content-dir title="'Flex grow'" description="'\'d-fx\' for display: flex | \'fxg-[place number here]\' or flex-grow: 0 [Default]'">
        <div class="d-fx w-100vh b-we pt-5px pb-5px">
          <div class="w-100px h-100px fxg-{{x.fxg}} m-3px b-we bs-2_4_12_bk_50 tn-500ms" ng-repeat="x in [
                {fxg: 10},{fxg: 5},{fxg: 2}
                ]" ng-action ng-class="[{'jello animated':$hover||$click }]">
            <span class="cen">
              .fxg-{{x.fxg}}
            </span>
          </div>
        </div>
      </content-dir>

      <content-dir title="'Flex Shrink'" description="'\'d-fx\' for display: flex | \'fxs-[place number here]\' or flex-shrink: 1 [Default]'">
        <div class="d-fx w-100vh b-we pt-5px pb-5px">
          <div class="w-{{x.w}} h-100px fxs-{{x.fxs}} m-3px b-we bs-2_4_12_bk_50 tn-500ms" ng-repeat="x in [
                {fxs: 2, w: '500px'},{fxs: 3, w: '500px'},{fxs: 4, w: '500px'}
                ]" ng-action ng-class="[{'jello animated':$hover||$click }]">
            <span class="cen">
              .fxs-{{x.fxs}} .w-{{x.w}}
            </span>
          </div>
        </div>
      </content-dir>

      <content-dir title="'Flex basis'" description="'\'d-fx\' for display: flex | \'fxb-[place number here]\' or flex-basis: auto [Default]'">
        <div class="d-fx w-100vh b-we pt-5px pb-5px">
          <div class="w-100px h-100px fxb-{{x.fxb}} m-3px b-we bs-2_4_12_bk_50 tn-500ms" ng-repeat="x in [
              {fxb: 40},{fxb: 'auto'},{fxb: '50px'}
              ]" ng-action ng-class="[{'jello animated':$hover||$click }]">
            <span class="cen">
              .fxb-{{x.fxb}}
            </span>
          </div>
        </div>
      </content-dir>

      <content-dir title="'Flex'" description="'\'d-fx\' for display: flex | \'fxb-[place number here]\' or flex: flex-grow | flex-shrink | flex-basis'">
        <div class="d-fx w-100vh b-we pt-5px pb-5px">
          <div class="w-100px h-100px fx-{{x.fxg}}_{{x.fxs}}_{{x.fxb}} m-3px b-we bs-2_4_12_bk_50 tn-500ms" ng-repeat="x in [
              {fxg: 1, fxs: 1, fxb:'100px'}, {fxg: 2, fxs: 1, fxb:'60px'}, {fxg: 5, fxs: 2, fxb:'70px'},
              ]" ng-action ng-class="[{'jello animated':$hover||$click }]">
            <span class="cen">
              .fx-{{x.fxg}}_{{x.fxs}}_{{x.fxb}}
            </span>
          </div>
        </div>
      </content-dir>

      <content-dir title="'Align Self'" description="'\'d-fx\' for display: flex | \'as-[place number here]\' or align-self: flex-start | flex-end | center | baseline | stretch'">
        <div class="d-fx h-50vh pt-5px pb-5px">
          <div class="w-100px as-{{x.as}} m-3px b-we bs-2_4_12_bk_50 tn-500ms" 
              ng-class="x.as === 'stretch' || x.as === 'baseline' ? 'h-auto ' : 'h-100px'"
              ng-repeat="x in [
              {as: 'fxs'}, {as: 'fxe'}, {as: 'c'}, {as: 'bl'}, {as: 'stretch'}
              ]" ng-action ng-class="[{'jello animated':$hover||$click }]">
            <span class="cen">
              .as-{{x.as}}
            </span>
          </div>
        </div>
      </content-dir>

      <!-- <content-dir title="'Flex Direction'" description="'Description will be here soon.'">
        <div class="d-fx c-{{x}} fw-{{x}} w-100px h-100px m-3px b-we bs-2_4_12_bk_50 tn-500ms"
          ng-repeat="x in ['100', '200', '300']" ng-action
          ng-class="[{'jello animated':$hover||$click }]">
          <span class="cen">
            .fw-{{x}}
          </span>
        </div>
      </content-dir> -->

      <!-- Button -->
      <button class="p-a w-20 h-60px cen-y c-we l-0 z-2" ng-click="movePrev();">
        <div class="p-r w-100 h-100">
          <i class="ion-arrow-left-b f-30px cen"></i>
        </div>
      </button>
      <button class="p-a w-20 h-60px cen-y c-we r-0 z-2" ng-click="moveNext();">
        <div class="p-r w-100 h-100">
          <i class="ion-arrow-right-b f-30px cen"></i>
        </div>
      </button>
    </div>
  </div>
</div>
